.map_lft {float: left; width: 530px; display: inline-block;}
.map_rgt {float: left; width: 170px; margin-top: 3px; display: inline-block; background: #f7f7f7; border: #d5d5d5 1px solid; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
.map_rgt_pad {margin: 5px;}

#map {width: 100%;}
#map td {padding: 1px 2px; width: 40px; height: 26px;}

.comp {height:18px; width: 18px; display:block; font-size:11px; font-family:verdana; background: #00933b; -moz-border-radius:8px; border: 4px solid #dcdcdc; line-height:18px; text-align:center; position: relative;}

.comp:hover {cursor: pointer; box-shadow: #060 0px 0px 5px;}

.b_avp_status {border-color:#fd8383;}
.b_avp_time {border-color: #ffcb5c;}

.bg_off {background: rgba(130, 130, 130, 0.61)}
.bg_abon {background: #eb7616;}
.bg_admin {background: #da251e;}
.bg_resid {background: #0093e1;}
.bg_guest {background: #4a388e;}
.bg_difus {background: #fff000;}
.bg_school {background: #fff000;}
.bg_space_warning {background: #eb7616}
.bg_space_critical {background: #da251e}

.map_desc {position: absolute; background: #fff; padding: 0 3px; line-height: 16px; border: #ddd 1px solid; font-size: 10px; left: 0px; margin-top: 3px; z-index: 500; min-width: 200px; text-align: left;}