{% block title %}Comps stats{% endblock %}

{% block content %}
    <table class="table table-striped" border="1">
        <thead>
        <tr>
            <th>Club</th>
            <th>Comp</th>
            <th>Free C</th>
            <th>Free D</th>
            <th>Mod Time</th>
            <th>space</th>
            <th>smart</th>
            <th>&gt;1day</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
    {% for comp in comps %}
        <tr bgcolor='
            {% cycle '#E0E0E0' 'A8A8A8' %}
        ' >
            <td>{{ comp.club }} </td>
            <td>{{comp.num}}</td>
            <td> {{ comp.freeC }} </td>
            <td> {{ comp.freeD }} </td>
            <td> {{ comp.mod_time|date:'j/m/Y H:i:s'}}</td>
            <td style="background:
            {% if comp.freeC < 2000 or comp.freeD >= 0 and comp.freeD < 10000 %}
                #CC3333
            {% elif comp.freeC < 3000 or comp.freeD >= 0 and comp.freeD < 20000 %}
                #FF9933
            {% endif %}
            "></td>
            <td style="background:
            {% if 'Fail' in comp.smart_status %}
                #CC3333
            {% endif %}
             "></td>
            <td style="background:
            {% if comp.old_on %}
                #CC3333
            {% endif %}
            "></td>
            <td><a href="{% url 'oper_server.views.delete_comp' comp_id=comp.id %}">Delete</a>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>

{% endblock %}