{% load staticfiles %}
<html>
{#<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" /> #}
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<h1>{{ status }}</h1>
{% block content %}{% endblock %}
</body>
</html>